{% extends 'base.html.twig' %}

{% block title %}Suivis{% endblock %}

{% block body %}
    <div class="container">
        <h1>Suivis</h1>
        <ul>
            {% for suivi in suivis %}
                <li>
                    <h2>{{ suivi.title }}</h2>
                    <p>{{ suivi.content }}</p>
                    {% if suivi.image %}
                        <img src="{{ asset('uploads/suivis/' ~ suivi.image) }}" alt="{{ suivi.title }}">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
