@charset "UTF-8";
/* ==========================================================================
   Général
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto slab", sans-serif;
  color: #ffffff;
  background-image: url("../image/dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.home_wall {
  position: relative;
  width: 35vw;
  height: auto;
  background-attachment: fixed;
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* ==========================================================================
   Boutons
   ========================================================================== */
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #f8db5a;
  background-image: none;
  color: #000000;
  cursor: pointer;
  font-family: "Roboto slab";
  font-size: 1em;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 10px;
  mask-image: radial-gradient(circle, #000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

/* ==========================================================================
   Barre de navigation
   ========================================================================== */
.navbar-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-item {
  margin-right: 2em;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #ffffff;
}

.nav-icon {
  height: 2em;
  width: auto;
  margin-right: 0.3em;
}

/* ==========================================================================
   Titres
   ========================================================================== */
h1 {
  text-align: center;
  font-family: "Bangers", sans-serif;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* ==========================================================================
   Cartes
   ========================================================================== */
/* Styles pour la carte personnalisée */
.card-custom {
  background-color: rgba(248, 219, 90, 0.68);
  color: #000000;
  border: none;
}

.card-custom .card-title {
  color: #000000;
}

.card-custom .card-text {
  font-size: 1rem;
}

/* Styles pour la nouvelle carte */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f8db5a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8db5a;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 30px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: #777;
  line-height: 1.4;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles pour le lien de la carte */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link .card {
  transition: transform 1s ease-in-out;
}

.card-link:hover .card {
  transform: scale(2.05);
}

/* Styles pour la carte large */
.card-large {
  width: 80%;
  max-width: 800px;
  height: auto;
  min-height: 400px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-large .card-body {
  padding: 30px;
}

/* Styles pour la carte de connexion admin */
.admin-login-card {
  width: 7vh;
  height: auto;
  padding: 2rem;
  background-color: rgba(248, 219, 90, 0.9);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Conteneur de connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100vw;
}

.admin-login-card .form-group {
  margin-bottom: 1.5rem;
}

.admin-login-card input {
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
}

.admin-login-card button {
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  background-color: #000;
  color: #f8db5a;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.admin-login-card button:hover {
  background-color: #f8db5a;
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   Tableau de bord admin
   ========================================================================== */
.admin-dashboard {
  background-color: transparent !important;
  color: #020202;
  padding: 20px;
}

.admin-dashboard .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.admin-dashboard h1, .admin-dashboard h2 {
  color: #f8db5a;
}

.admin-dashboard .table {
  color: #f8db5a;
}

.admin-dashboard .btn {
  background-color: #f8db5a !important;
  color: #030303 !important;
  border: none !important;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.admin-dashboard .btn:hover {
  background-color: #e5c14d !important;
  color: #030303 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-dashboard .btn-block {
  width: 100%;
}

/* ==========================================================================
   Pied de page
   ========================================================================== */
footer {
  background-color: transparent !important;
  color: white;
}

/* ==========================================================================
   Formulaires
   ========================================================================== */
/* Styles généraux du formulaire */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
  margin-top: 3em;
}

.form-heading {
  text-align: center;
  margin: 1.5em;
  color: #f8db5a;
  font-size: 2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.8em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  margin-bottom: 1.2em;
  width: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

/* Styles pour le bouton d'envoi de message */
.sendMessage-btn {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0.8em 2.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f8db5a;
  font-weight: bold;
  outline: 1px solid #f8db5a;
  transition: all ease-in-out 0.3s;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #f8db5a;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Styles pour les cartes de formulaire */
.form-card1 {
  background-color: #f8db5a;
  border-radius: 22px;
  transition: all 0.3s;
  position: relative;
  padding-top: 0;
  margin-top: 0;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgb(245, 200, 39);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* ==========================================================================
   Messages Flash
   ========================================================================== */
.flash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.flash {
  width: 90%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 2em 1em;
}

.flash-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.flash p {
  margin-top: 0.5em;
}

/* ==========================================================================
   Témoignages
   ========================================================================== */
#wall_avis {
  margin-left: 13em;
  width: 50em;
  height: auto;
}

/* Carrousel de témoignages */
.slider-temoignages {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}

.list-temoignages {
  display: flex;
  gap: 15px;
  width: fit-content;
  animation: slideTemoignages 30s linear infinite;
}

.item-temoignage {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  background-color: #f8db5a;
  color: #030303;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 50px;
  text-align: center;
}

.card-temoignage img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

@keyframes slideTemoignages {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.slider-temoignages:hover .list-temoignages {
  animation-play-state: paused;
}

/* ==========================================================================
   Étoiles d'évaluation
   ========================================================================== */
/* Styles pour le formulaire d'évaluation */
.rating {
  display: inline-block;
  direction: rtl; /* Pour que les étoiles soient en ordre inverse */
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "★";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f5c827;
}

/* Correction du style des étoiles */
.rating input:checked + label:hover,
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label,
.rating input:checked ~ label:hover ~ label {
  color: #f5c827;
}

/* Styles pour l'affichage des étoiles dans le dashboard et la page des témoignages */
.stars svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #f5c827;
}

.stars svg:not(:last-child) {
  margin-right: 0.25rem;
}

/* NOUVEAUX STYLES POUR LE BLOCK TEMOIGNAGE (Uiverse.io) */
.block-temoignage {
  background-color: rgba(47, 47, 47, 0.79);
  padding: 2rem;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgb(245, 200, 39);
  margin: 10px;
  text-align: center;
}

.block-temoignage .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.block-temoignage .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-image: url("../image/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
}

.block-temoignage .stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: #f5c827;
}

.block-temoignage .stars svg {
  height: 1rem;
  width: 1rem;
}

.block-temoignage .name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(245, 200, 39);
}

.block-temoignage .message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgb(107, 114, 128);
}

/* correction pour centrer les étoiles */
.block-temoignage .stars {
  display: flex;
  justify-content: center;
}

.block-temoignage .stars svg {
  height: 1em;
  width: 1em;
  margin: 0 2px;
}

/*# sourceMappingURL=style.css.map */
