@charset "UTF-8";
/* ==========================================================================
   Général
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Force le html et le body à prendre toute la hauteur de l'écran */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0;
}

body {
  font-family: "Roboto slab", sans-serif;
  color: #ffffff; /* Couleur par défaut du texte */
  background-image: url("../image/dark.jpg"); /* Conserver l'image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed; /* Garde l'image de fond fixe */
}

/* ==========================================================================
   Titres
   ========================================================================== */
h1 {
  text-align: center;
  font-family: "Bangers", sans-serif;
  font-size: 2em;
  margin-top: 4rem; /* Garde la marge en haut comme souhaité */
  margin-bottom: 6rem; /* Augmente la marge en bas */
}

h2 {
  text-align: center;
  font-family: "Bangers", sans-serif;
  font-size: 2em;
  margin-bottom: 2rem; /* Garde la marge en bas */
  margin-top: 2rem; /* Garde la marge en haut */
}

/* ==========================================================================
   Pied de page
   ========================================================================== */
footer {
  background-color: transparent !important;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.home_wall {
  position: relative;
  width: 40vw;
  height: auto;
  background-attachment: fixed;
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* Spécifique pour le container des présentations */
.presentation-container {
  background-color: transparent; /* Fond transparent */
  padding: 20px; /* Ajoute un peu d'espace autour des cartes */
  border: 1px solid #888; /* Bordure grise */
  border-radius: 10px; /* Bordures arrondies */
}

/* ==========================================================================
   Boutons
   ========================================================================== */
/*General Button Styling*/
.btn {
  display: inline-block;
  font-family: "Roboto slab", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

/*Specific Style for Create Button*/
.btn-create {
  background-color: #f8db5a;
  color: #000000;
  border: none;
}

.btn-create:hover {
  background-color: #e5c14d;
}

/*Button style for the navbar*/
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #f8db5a;
  background-image: none;
  color: #000000;
  cursor: pointer;
  font-family: "Roboto slab";
  font-size: 1em;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 10px;
  mask-image: radial-gradient(circle, #000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

.btn-password {
  background-color: #f8db5a; /* jaune style Bootstrap */
  color: #000000; /* texte noir */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.btn-password:hover {
  background-color: #f8db5a;
  color: #000;
}

/* ==========================================================================
   Barre de navigation
   ========================================================================== */
.navbar-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-item {
  margin-right: 2em;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #ffffff;
}

.nav-icon {
  height: 2em;
  width: auto;
  margin-right: 0.3em;
}

/* ==========================================================================
   Cartes
   ========================================================================== */
/* Styles pour la carte personnalisée */
.card-custom {
  background-color: rgba(248, 219, 90, 0.68);
  color: #000000;
  border: none;
}

.card-custom .card-title {
  color: #000000;
}

.card-custom .card-text {
  font-size: 1rem;
}

/* Styles pour la nouvelle carte */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f8db5a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8db5a;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 30px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: #777;
  line-height: 1.4;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles pour le lien de la carte */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link .card {
  transition: transform 1s ease-in-out;
}

.card-link:hover .card {
  transform: scale(2.05);
}

/* Styles pour la carte large */
.card-large {
  width: 90%;
  max-width: 1000px;
  height: auto;
  min-height: 400px;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-large .card-body {
  padding: 30px;
}

/* Styles pour la carte de connexion admin */
.admin-login-card {
  width: 7vh;
  height: auto;
  padding: 2rem;
  background-color: rgba(248, 219, 90, 0.9);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Conteneur de connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100vw;
}

.admin-login-card .form-group {
  margin-bottom: 1.5rem;
}

.admin-login-card input {
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
}

/* Specific styling for the rating input labels */
.rating label {
  cursor: pointer;
  color: #ccc;
  font-size: 24px;
  transition: color 0.3s;
  vertical-align: middle;
}

/* Specific styling for the rating input when checked, and the hover effect */
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.admin-login-card button {
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  background-color: #000;
  color: #f8db5a;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.admin-login-card button:hover {
  background-color: #f8db5a;
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   Tableau de bord admin
   ========================================================================== */
.admin-dashboard {
  background-color: transparent !important;
  color: #020202;
  padding: 20px;
}

/* Style spécifique pour le bouton "Créer" dans le formulaire de création */
.admin-dashboard .card .card-body .d-flex .btn-create {
  background-color: #f8db5a;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  margin: 0 1rem;
}

/* Style pour espacer les boutons dans le formulaire de création */
.admin-dashboard .card .card-body .d-flex {
  justify-content: center;
  align-items: center;
}

/* Augmenter l'espacement entre les boutons */
.admin-dashboard .card .card-body .d-flex > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.admin-dashboard .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.admin-dashboard h1,
.admin-dashboard h2 {
  color: #f8db5a;
}

.admin-dashboard .table {
  color: #f8db5a;
}

.admin-dashboard .btn {
  background-color: #f8db5a !important;
  color: #030303 !important;
  border: none !important;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.admin-dashboard .btn:hover {
  background-color: #e5c14d !important;
  color: #030303 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-dashboard .btn-block {
  width: 100%;
}

@media (max-width: 768px) {
  .admin-dashboard .table {
    font-size: 0.85em; /* Réduire la taille de la police dans les tables */
  }
  .admin-dashboard .d-flex {
    flex-direction: column; /* Empiler les éléments en colonne */
    align-items: stretch; /* Étirer les éléments pour remplir la largeur */
  }
  /* Augmenter l'espacement entre les boutons et les aligner */
  .admin-dashboard .d-flex > * {
    margin: 1rem 0; /* Espacement vertical */
    text-align: center; /* Centrer le texte des boutons */
  }
  .admin-dashboard .btn {
    width: 100%; /* Les boutons prennent toute la largeur */
    padding: 0.75rem; /* Ajuster le padding */
    margin-top: 0.5rem;
    font-size: 0.9em; /* Réduire la taille de la police des boutons */
  }
}
/* ==========================================================================
   Tableau de bord admin - Responsive
   ========================================================================== */
@media (max-width: 1024px) {
  .admin-dashboard .table {
    font-size: 0.85em;
  }
  .admin-dashboard .d-flex {
    flex-direction: column;
    align-items: stretch;
  }
  /* Augmenter l'espacement entre les boutons et les aligner */
  .admin-dashboard .d-flex > * {
    margin: 1rem 0;
    text-align: center;
  }
  .admin-dashboard .btn {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    font-size: 0.9em;
  }
}
/* ==========================================================================
   Formulaires
   ========================================================================== */
/* Styles généraux du formulaire */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
  margin-top: 3em;
  color: white;
}

.form-heading {
  text-align: center;
  margin: 1.5em;
  color: #f8db5a;
  font-size: 2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.8em;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  width: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

@media (max-width: 767px) {
  .form-field {
    margin-top: 1.5em;
  }
}
.input-field::placeholder {
  color: #ffffff;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  padding-inline: 1em;
}

/* Styles pour le bouton d'envoi de message */
.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 0.8em 2.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f8db5a;
  font-weight: bold;
  outline: 1px solid #f8db5a;
  transition: all ease-in-out 0.3s;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2em;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #f8db5a;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Styles pour les cartes de formulaire */
.form-card1 {
  background-color: #f8db5a;
  border-radius: 22px;
  transition: all 0.3s;
  position: relative;
  padding-top: 0;
  margin-top: 0;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgb(245, 200, 39);
  flex: 1;
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .contact-heading {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .sendMessage-btn {
    margin-top: 3em; /* Ajustement pour maintenir la cohérence */
    margin-bottom: 3em; /* Maintient l'espacement en bas */
  }
}
.form-field {
  margin-bottom: 1.5em; /* Réduit l'espacement sur mobile */
  margin-top: 1.5em; /* Même espacement que sur tablette */
}

/* ==========================================================================
   Formulaires - Responsive
   ========================================================================== */
@media (max-width: 768px) {
  .card-large {
    width: 100%;
    margin: 10px auto;
  }
  .card-large .card-body {
    padding: 20px;
  }
  .d-flex {
    flex-direction: column;
  }
  .d-flex > * {
    margin: 1rem 0;
  }
  .btn {
    width: 100%;
    font-size: 0.9em; /* Réduire la taille de la police des boutons */
  }
  .rating-container {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .card-large {
    width: 100%;
    margin: 10px auto;
  }
  .card-large .card-body {
    padding: 20px;
  }
  .d-flex {
    flex-direction: column;
  }
  .d-flex > * {
    margin: 1rem 0;
  }
  .btn {
    width: 100%;
    font-size: 0.9em;
  }
  .rating-container {
    text-align: center;
  }
}
/* ==========================================================================
   Messages Flash
   ========================================================================== */
.flash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.flash {
  width: 90%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 2em 1em;
}

.flash-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.flash p {
  margin-top: 0.5em;
}

.alert {
  margin-bottom: 1rem; /* Ajoute un espace sous chaque message flash */
  position: relative; /* Pour permettre un positionnement relatif */
  z-index: 1000; /* Assure que le message flash est au-dessus des autres éléments */
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1rem;
  color: inherit;
}

/* ==========================================================================
   Témoignages
   ========================================================================== */
#wall_avis {
  margin-left: 12em;
  margin-top: -5em;
  width: 50em;
  height: auto;
}

#wall-presentation {
  margin-left: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50em;
  height: auto;
  border-radius: 0.8em;
}

/* Carrousel de témoignages */
.slider-temoignages {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}

.slider-temoignages:hover .list-temoignages {
  animation-play-state: paused;
}

.list-temoignages {
  display: flex;
  gap: 15px;
  width: max-content;
  animation: slideTemoignages 30s linear infinite;
}

.block-temoignage {
  flex: 0 0 auto;
  width: 25em;
  height: 25em;
  background-color: rgba(45, 45, 45, 0.76);
  color: #f5c827;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.block-temoignage .message {
  flex-grow: 1;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  height: 150px;
  max-height: 150px;
  display: block;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8db5a;
  position: relative;
}

.block-temoignage .message::-webkit-scrollbar {
  width: 8px;
}

.block-temoignage .message::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.block-temoignage .message::-webkit-scrollbar-track {
  background: #363636;
}

.block-temoignage:hover .message {
  overflow-y: auto;
}

.temoignage-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rating .star {
  font-size: 20px;
  color: gold;
}

.rating .star.filled {
  color: gray;
}

@keyframes slideTemoignages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.list-temoignages {
  display: flex;
  animation: slideTemoignages 30s linear infinite;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Styles généraux pour le carrousel (appliqués par défaut) */
.slider-temoignages {
  width: 100%;
  height: auto;
  overflow: hidden; /* Important pour cacher les éléments hors de la vue */
  position: relative;
  padding: 50px 0;
}

.slider-temoignages:hover .list-temoignages {
  animation-play-state: paused;
}

.list-temoignages {
  display: flex;
  gap: 15px;
  width: max-content; /* Ajuste la largeur au contenu */
  animation: slideTemoignages 30s linear infinite; /* Active l'animation */
}

.block-temoignage {
  flex: 0 0 auto;
  width: 25em;
  height: 25em;
  background-color: rgba(45, 45, 45, 0.76);
  color: #f5c827;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* Mobile (jusqu'à 767px) - Ajustements pour la page Témoignages */
@media (max-width: 767px) {
  .container {
    margin-top: 2rem;
  }
  #wall_avis {
    display: block;
    margin: 1rem auto;
    max-width: 80%;
    height: auto;
  }
  .slider-temoignages {
    overflow: auto; /* Permet le défilement si le contenu est trop grand */
    padding: 20px 0;
  }
  .list-temoignages {
    display: flex; /* Garde l'affichage en ligne */
    animation: none; /* Désactive l'animation sur mobile */
    width: auto; /* Largeur automatique */
    overflow-x: auto; /* Active le défilement horizontal si nécessaire */
    scroll-snap-type: x mandatory; /* Force le défilement par cartes */
    padding: 0 10px; /* Ajoute un peu d'espace sur les côtés */
  }
  .block-temoignage {
    flex: 0 0 80%; /* Ajuste la largeur des cartes (80% de l'écran) */
    width: auto;
    height: auto;
    font-size: 0.8em;
    margin: 1rem 5px; /* Réduit les marges */
    scroll-snap-align: start; /* Alignement pour le scroll snap */
  }
  .block-temoignage .message {
    font-size: 12px;
    height: auto;
    max-height: none;
    overflow: visible;
  }
}
/* Tablette (768px à 992px) - Ajustements pour la page Témoignages */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    margin-top: 3rem;
  }
  #wall_avis {
    display: block;
    margin: 2rem auto;
    max-width: 60%;
    height: auto;
  }
  .slider-temoignages {
    padding: 30px 0;
  }
  .list-temoignages {
    display: flex;
    animation: slideTemoignages 30s linear infinite; /* Réactive l'animation */
    width: max-content;
  }
  .block-temoignage {
    width: 20em;
    height: 20em;
  }
}
/* Animation pour le carrousel */
@keyframes slideTemoignages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-125em); /* Nombre de block-temoignage */
  }
}
/* ==========================================================================
   Étoiles d'évaluation
   ========================================================================== */
.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-container .form-label {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  color: #ccc;
  font-size: 24px;
  transition: color 0.3s;
  vertical-align: middle;
}

/* Specific styling for the rating input when checked, and the hover effect */
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.admin-login-card button {
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  background-color: #000;
  color: #f8db5a;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.admin-login-card button:hover {
  background-color: #f8db5a;
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.presentation-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: none;
}

.presentation-card {
  background-color: rgba(248, 219, 90, 0.49); /* Jaune avec légère transparence */
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: none; /* Supprime l'ombre */
  border: none; /* Supprime toute bordure */
  text-align: center; /* Centrage du texte */
}

.presentation-title {
  color: #000000;
  font-size: 30px;
  margin-top: 10px;
}

.presentation-text {
  color: #000000; /* Texte sombre */
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .presentation-card {
    padding: 20px;
  }
  .presentation-title {
    font-size: 20px;
  }
  .presentation-text {
    font-size: 14px;
  }
  .presentation-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #wall-presentation {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10em;
  }
  .presentation-content {
    width: 100%;
  }
}
/* Styles spécifiques pour la partie présentation sur tablette (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .presentation-container {
    display: flex;
    flex-direction: column; /* Empile l'image et le contenu */
    align-items: flex-start; /* Aligne le contenu à gauche */
  }
  #wall-presentation {
    width: 100%; /* Ajustez la largeur de l'image */
    max-width: none; /* Supprime la contrainte de largeur maximale */
    height: auto;
    margin-left: 0; /* Supprime la marge gauche existante */
    margin-right: auto; /* Pousse l'image vers la gauche en utilisant la marge droite */
    margin-bottom: 20px;
    border-radius: 0.8em;
  }
  .presentation-content {
    width: 100%; /* Le contenu prend toute la largeur */
  }
}
@media (max-width: 991px) {
  .admin-login-card {
    width: 95% !important; /* Utilisation de 95% pour laisser un peu de marge */
    max-width: none !important; /* Supprime la largeur maximale définie ailleurs */
  }
  .admin-login-card .card-body {
    padding: 1.5rem !important; /* Ajuster le padding intérieur si nécessaire */
  }
}
/* ==========================================================================
   Cartes - SUIVIS
   ========================================================================== */
.suivi-card {
  width: 100%;
  height: auto;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(248, 219, 90, 0.55); /* Couleur de fond */
  color: #000000; /* Couleur du texte */
  text-align: center;
  border: none; /* Suppression de la bordure */
}

.suivi-card .card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/* Conteneur défilable pour le titre */
.scrollable-title {
  max-height: 50px; /* Hauteur maximale pour le titre */
  overflow-y: auto; /* Barre de défilement verticale si nécessaire */
  padding-right: 10px; /* Ajout d'espace pour éviter que le texte touche la barre de défilement */
}

.scrollable-title::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
}

.scrollable-title::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Couleur de la barre de défilement */
  border-radius: 4px; /* Arrondi des bords */
}

.scrollable-title::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Couleur au survol */
}

.suivi-card .card-text {
  flex-grow: 1; /* Prend le reste de l'espace vertical */
  font-size: 1.1em;
  line-height: 1.6;
}

.suivi-card .btn-primary {
  margin-top: 20px;
  background-color: #181818; /* Couleur du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none; /* Suppression de la bordure du bouton */
  padding: 10px 20px; /* Ajustement de la taille du bouton */
  border-radius: 5px; /* Bordures arrondies */
}

.suivi-card .card-img-top {
  width: 100%;
  height: auto;
  max-height: 500px; /* Hauteur maximale pour l'image */
  object-fit: cover; /* Ajuste l'image pour couvrir l'espace, peut rogner */
}

/* Styles pour le contenu scrollable */
.scrollable-content {
  max-height: 200px; /* Ajustez selon vos besoins */
  overflow-y: auto;
  padding-right: 10px; /* Pour éviter que le texte ne touche la scrollbar */
}

/* Personnalisation de la scrollbar (facultatif) */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.card-no-hover:hover {
  transform: none !important;
  box-shadow: none !important;
}

/* ==========================================================================
    HOME PAGE (Styles spécifiques à la page d'accueil)
   ========================================================================== */
.home-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.home-content-item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.home-reverse {
  flex-direction: row-reverse;
}

.home-image-container {
  flex: 0 0 30%;
  padding: 1rem;
  order: 1; /* Place l'image after text by default */
}

.home-round-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.home-text-container {
  flex: 0 0 70%;
  padding: 1rem 2rem;
}

.home-text-container h2 {
  color: #f8db5a;
  margin-bottom: 1rem;
}

.home-text-container p {
  color: #ffffff;
  margin-bottom: 1rem;
}

.home-btn-primary {
  background-color: #f8db5a;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.home-btn-primary:hover {
  background-color: #e5c14d;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .home-content-item {
    flex-direction: column;
    text-align: center;
  }
  .home_wall {
    width: 100%;
  }
  .home-image-container,
  .home-text-container {
    flex: 0 0 100%;
    padding: 1rem;
    text-align: center;
    order: unset; /* Reset order on mobile */
    width: 70%;
  }
  .home-reverse .home-image-container {
    order: unset;
  }
}
.navbar-toggler .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar-toggler .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar-toggler .animated-icon span:nth-child(1) {
  top: 0;
}

.navbar-toggler .animated-icon span:nth-child(2) {
  top: 10px;
}

.navbar-toggler .animated-icon span:nth-child(3) {
  top: 20px;
}

.navbar-toggler .animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.navbar-toggler .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.navbar-toggler .animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}

@media (max-width: 991px) {
  .container.mt-5 {
    margin-top: 1rem !important; /* Réduit la marge supérieure pour un meilleur affichage */
  }
  form.w-50.mx-auto {
    width: 90% !important; /* Prend 90% de la largeur de l'écran */
    margin-left: auto !important; /* Centre le formulaire */
    margin-right: auto !important; /* Centre le formulaire */
  }
  .form-group.mb-3 {
    margin-bottom: 1rem !important; /* Réduit la marge inférieure des groupes de formulaire */
  }
}
.btn.btn-success.mt-3 {
  background-color: #f8db5a; /* jaune style Bootstrap */
  color: #000000; /* texte noir */
  border: none; /* Supprime la bordure si nécessaire */
}

.btn.btn-success.mt-3:hover {
  background-color: #e5c14d; /* Jaune légèrement plus foncé au survol */
  color: #000000; /* Garde le texte noir au survol */
}

@media (max-width: 768px) {
  body {
    font-size: 0.9em; /* Réduire la taille de la police par défaut */
  }
  h1 {
    font-size: 1.8em; /* Ajuster la taille des titres */
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .container {
    padding: 10px; /* Réduire le padding du conteneur */
  }
}
/* ==========================================================================
   Témoignages - Responsive (Spécifique au Formulaire)
   ========================================================================== */
@media (max-width: 768px) {
  /* Cibler spécifiquement le formulaire de témoignages */
  .admin-dashboard .table tr td:nth-child(1),
  .admin-dashboard .table tr td:nth-child(2) { /* Contenu */
    max-width: 20vw; /* Ajuster la largeur maximale */
    word-break: break-word; /* Forcer le texte à passer à la ligne */
    overflow: hidden; /* Cacher le texte qui dépasse */
  }
  .admin-dashboard .table tr td:nth-child(3) { /* Note */
    text-align: center; /* Centrer la note */
    padding: 0.5em; /* Ajouter un peu de padding */
  }
  /* MODIFICATION: Aligner les boutons verticalement */
  .admin-dashboard .table tr td:nth-child(4) { /* Actions */
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Étirer les boutons pour qu'ils aient la même largeur */
    white-space: nowrap; /* Empêcher les boutons de passer à la ligne */
  }
  /* MODIFICATION: Ajouter un espacement entre les boutons */
  .admin-dashboard .table tr td:nth-child(4) > *:not(:last-child) {
    margin-bottom: 0.5em; /* Espacement vertical entre les boutons, sauf le dernier */
  }
  /* Ajuster la taille des boutons d'action */
  .admin-dashboard .table .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75em;
    width: 100%; /* MODIFICATION: S'assurer que les boutons occupent toute la largeur disponible */
    margin-bottom: 0; /* Supprimer la marge en bas des boutons */
  }
  .admin-dashboard .table tr td:nth-child(4) > *:last-child {
    margin-bottom: 0; /* Supprimer la marge en bas du dernier élément */
  }
}
@media (max-width: 1024px) {
  /* Cibler spécifiquement le formulaire de témoignages */
  .admin-dashboard .table tr td:nth-child(1),
  .admin-dashboard .table tr td:nth-child(2) { /* Contenu */
    max-width: 20vw; /* Ajuster la largeur maximale */
    word-break: break-word; /* Forcer le texte à passer à la ligne */
    overflow: hidden; /* Cacher le texte qui dépasse */
  }
  .admin-dashboard .table tr td:nth-child(3) { /* Note */
    text-align: center; /* Centrer la note */
    padding: 0.5em; /* Ajouter un peu de padding */
  }
  /* MODIFICATION: Aligner les boutons verticalement */
  .admin-dashboard .table tr td:nth-child(4) { /* Actions */
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Étirer les boutons pour qu'ils aient la même largeur */
    white-space: nowrap; /* Empêcher les boutons de passer à la ligne */
  }
  /* MODIFICATION: Ajouter un espacement entre les boutons */
  .admin-dashboard .table tr td:nth-child(4) > *:not(:last-child) {
    margin-bottom: 0.5em; /* Espacement vertical entre les boutons, sauf le dernier */
  }
  /* Ajuster la taille des boutons d'action */
  .admin-dashboard .table .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75em;
    width: 100%; /* MODIFICATION: S'assurer que les boutons occupent toute la largeur disponible */
    margin-bottom: 0; /* Supprimer la marge en bas des boutons */
  }
  .admin-dashboard .table tr td:nth-child(4) > *:last-child {
    margin-bottom: 0; /* Supprimer la marge en bas du dernier élément */
  }
}
.mentions-legales, .cgu {
  font-family: "Roboto Slab", serif;
  line-height: 1.7;
}

.mentions-legales h1, .cgu h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #ffcc00; /* jaune */
}

.mentions-legales h2, .cgu h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 600;
  color: #ffcc00; /* jaune */
}

.mentions-legales p, .cgu p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ffffff; /* jaune */
}

.mentions-legales a, .cgu a {
  color: #ffffff;
  text-decoration: none;
}

.mentions-legales a:hover, .cgu a:hover {
  text-decoration: underline;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

footer .footer-links a {
  color: #ffffff;
  font-size: 0.95rem;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
