{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="form-card1">
        <div class="form-card2">
            <form class="form">
                <h1 class="form-heading">Contact</h1>

                <div class="form-field">
                    <input required="" placeholder="Nom et prénom" class="input-field" type="text" />
                </div>

                <div class="form-field">
                    <input
                            required=""
                            placeholder="Email"
                            class="input-field"
                            type="email"
                    />
                </div>

                <div class="form-field">
                    <input
                            required=""
                            placeholder="Numéro de téléphone"
                            class="input-field"
                            type="tel"
                    />
                </div>

                <div class="form-field">
        <textarea
                required=""
                placeholder="Message"
                cols="30"
                rows="3"
                class="input-field"
        ></textarea>
                </div>

                <button class="sendMessage-btn">Envoyer la demande de contact</button>
            </form>
        </div>
    </div>

{% endblock %}
