{% extends 'base.html.twig' %}

{% block metatitle %}Mot de passe oublié | Admin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Réinitialiser le mot de passe</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <form method="post" class="w-50 mx-auto">
            <div class="form-group mb-3">
                <label for="email">Votre adresse email :</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <button type="submit" class="btn-password w-100">
                Changer le mot de passe
            </button>
        </form>
    </div>
{% endblock %}
