{% extends '/base.html.twig' %}

{# Meta title for the reset password page #}
{% block metatitle %}Nouveau mot de passe | Admin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Nouveau mot de passe</h2>

        {# Reset password form (POST) #}
        <form method="post">
            <div class="form-group">
                <label for="password">Nouveau mot de passe :</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <button class="btn btn-success mt-3">Changer le mot de passe</button>
        </form>
    </div>
{% endblock %}
