{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
    <div class="container">
        <br><br><br>
        <h1>Témoignages</h1>
        <br><br><br>

        {% if temoignages|length > 0 %}
            <img id="wall_avis" src="{{ asset('assets/image/avis.jpg') }}" alt="avis">
        {% endif %}

        <div class="slider-temoignages">
            <div class="list-temoignages">
                {% for temoignage in temoignages %}
                    <!-- From Uiverse.io by Yaya12085 -->
                    <div class="block-temoignage">
                        <div class="header">
                            <div class="image"></div>
                            <div>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        <svg fill="{{ i <= temoignage.rating|number_format ? 'currentColor' : 'none' }}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                        </svg>
                                    {% endfor %}
                                </div>
                                <p class="name">{{ temoignage.title }}</p>
                            </div>
                        </div>
                        <p class="message">{{ temoignage.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
