{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
    <div class="container">
        <h1>Témoignages</h1>

        {% if temoignages|length > 0 %}
            <img id="wall_avis" src="{{ asset('assets/image/avis.jpg') }}" alt="avis">
        {% endif %}

        <div class="slider-temoignages">
            <div class="list-temoignages">
                {% for temoignage in temoignages %}
                    <div class="block-temoignage">
                        <h3 class="temoignage-title">{{ temoignage.title }}</h3>
                        <p class="message">{{ temoignage.content }}</p>
                        <div class="rating small">
                            {% for i in 1..5 %}
                                {% if i <= temoignage.rating %}
                                    <span class="star filled">★</span>
                                {% else %}
                                    <span class="star">☆</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
